<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!-----header---->

<!--------------menu-bar---------->
<section id="nav-bar">
	<nav class="navbar navbar-expand-lg navbar-light bg-dark">
	   <h3 class="text-light"><i class="fa fa-tasks me-2"></i>MEDIAC</h3>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <i class="fa fa-bars"></i>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav ml-auto">
	      <li class="nav-item ">
	        <a class="nav-link" href="/"><h5 style="color:white"><i class="fa fa-home me-2"></i> Home</h5> </a>
	      </li>
	    </ul>
	  </div>
	</nav>	
</section>

<!-----header---->
<!----main site---->



<!----main site----->
<div class="container-fluid text-light">
		<div class="card bg-dark mx-auto" style="width: 80%;margin-top: 60px;">
			  <div class="card-body">
			  	  <h3 class="card-title text-center">SIGN UP FORM</h3>
					<form action="/addpatient" method="POST" id="update_patient" >
					  <div class="container-fluid bg-dark text-light">
					  	<div class="new_user text-center bg-dark" >
					  	<div class="form-group row">
						    <label for="outputID" class="col-sm-2 col-form-label"><h5>ID</h5></label>
						    <div class="col-sm-10">
						      <output class="form-control text-left" id="outputID" name="ID" title="Please remember this id!" ><%= row[0][0] %>  </output>
						    </div>
					  	</div>
					  	<div class="form-group row">
					    	<label for="inputPassword3" class="col-sm-2 col-form-label"><h5>Password</h5></label>
					    	<div class="col-sm-10">
					    		<input type="password" class="form-control" id="inputPassword3" name="Password"pattern=".{8,}" title="Eight or more characters & Please remember this password!" required id="inputPassword3">
					    	</div>
					    </div>
					  	<div class="form-group row">
						    <label for="inputName" class="col-sm-2 col-form-label"><h5>Name</h5></label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" id="inputName" name="name" placeholder="Name" required id="inputName">
						    </div>
					  	</div>
					  	<div class="form-group row">
						    <label for="inputGuardianName" class="col-sm-2 col-form-label"><h5>Guardian Name</h5></label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" id="inputGuardianName" name="guardianName" placeholder="Guardian Name">
						    </div>
					  	</div>
					  	<div class="form-group row">
						    <label for="inputAge" class="col-sm-2 col-form-label"><h5>Age</h5></label>
						    <div class="col-sm-10">
						      <input type="number" class="form-control" id="inputAge" name="age" placeholder="Age" required id="inputAge">
						    </div>
					  	</div>
					  	<!---<div class="form-group row">
						    <label for="inputDateOfBirth3" class="col-sm-2 col-form-label"><h4>Date-of-Birth</h4></label>
						    <div class="col-sm-10">
						      <input type="datetime-local" class="form-control" id="inputDateOfBirth3" name="dob" placeholder="Date-of-Birth">
						    </div>
					  	</div>-->
					  <div class="form-group row">
					            <label for="gender" class="col-sm-2 col-form-label"><h5>Gender</h5></label>
					            <div class="radio inline col-form-label col-sm-2 pt-0">
					                <input type="radio" id="radio-2" name="gender" value="Male" required id="gender">
					                <label for="radio-2" class="radio-label"><h5>Male</h5></label>
					            </div>
					            <div class="radio inline col-form-label col-sm-2 pt-0">
					                <input type="radio" id="radio-3" name="gender" value="Female" required id="gender">
					                <label for="radio-3" class="radio-label"><h5>Female</h5></label>
					            </div>
					        </div>
					  	<div class="form-group row">
						    <label for="inputAddress" class="col-sm-2 col-form-label"><h5>Address</h5></label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" id="inputAddress" name="address" placeholder="address" required id="inputAddress">
						    </div>
					  	</div>
					  	<div class="form-group row">
						    <label for="inputPhone" class="col-sm-2 col-form-label"><h5>Phone Number</h5></label>
						    <div class="col-sm-10">
						      <input type="number" class="form-control" id="inputPhone" name="phone" placeholder="Phone number" required id="inputPhone">
						    </div>
					  	</div>
					  	<div class="form-group row">
						    <label for="inputGPhone" class="col-sm-2 col-form-label"><h5>Guardian's Phone Number</h5></label>
						    <div class="col-sm-10">
						      <input type="number" class="form-control" id="inputGPhone" name="Gphone" placeholder="Guardian's Phone number">
						    </div>
					  	</div>

					  <div class="form-group row">
					    <div class="col-sm-10">
					      <!--<button type="submit" class="btn btn-success btn-block" id="myBtn" style=" display: flex;justify-content: center;align-items: center; margin-left:90px;">
					      	<script>
	      						document.getElementById("myBtn").addEventListener("click", myFunction);
	      						function myFunction() {
	        					window.location.href="http://programminghead.com";
	      						}
	    					</script>
					      	<h5 style="color:white; text-align: center;">Save </h5>
					       </button>-->
					       <!--<a href="file:///E:/2-2/CSE216/project%20frontend/homapage%20using%20bootstrap/patient/patientLogin.html">
					       <input type="submit"/></a>-->
					       <button type="submit" class="btn btn-success btn-block" style=" display: flex;justify-content: center;align-items: center; margin-left:90px;">
					 
					      	<h5 style="color:white; text-align: center;">Save </h5>
					       </button>
					    </div>
					  </div>
					  </div>
					  	
					  </div>
					</form>
				</div>
			</div>
		</div>

<!----main site--->

</body>
</html>